<div *ngIf="catsList.length" class="gallery">

  <div (mouseenter)="hoverIn()" (mouseleave)="hoverOut()"
       *ngFor="let cat of catsList | paginate: { itemsPerPage: 9, currentPage: page, totalItems: totalLength}"
       class="ui card">
    <img [src]="cat.urls.thumb">
    <h3 class="card-title">{{cat.alt_description | titlecase}}</h3>
    <p *ngIf="imgText">Likes: {{cat.likes}}</p>
  </div>

  <div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>

</div>
