<div class="ui grid">
  <div class="two wide column">
    <div class="ui vertical fluid tabular menu">
      <button (click)="term = 'cats'" class="ui button term_button">Cats</button>
      <button (click)="term = 'sea'" class="ui button term_button">Sea</button>
      <button (click)="term = 'flowers'" class="ui button term_button">Flowers</button>
    </div>
  </div>
  <div class="fourteen wide stretched column">
    <app-photos *ngIf="term === 'cats'" [term]="'cats'"></app-photos>
    <app-photos *ngIf="term === 'sea'" [term]="'sea'"></app-photos>
    <app-photos *ngIf="term === 'flowers'" [term]="'flowers'"></app-photos>
  </div>
</div>


