<div class="navigation">

  <!--Background-->

  <div class="background-container">
    <div class="box box10"></div>
    <div class="box box9"></div>
    <div class="box box8"></div>
    <div class="box box7"></div>
    <div class="box box6"></div>
    <div class="box box5"></div>
    <div class="box box4"></div>
    <div class="box box3"></div>
    <div class="box box2"></div>
    <div class="box box1"></div>
    <div class="box box0"></div>
  </div>

  <!-------------->
  <a routerLink="/chart" class="link">
    <figure class="link__content">
      <img src="/assets/images/chart-image.jpg" class="content__image">
      <figcaption class="content__info">
        CHART
      </figcaption>
    </figure>
  </a>

  <a routerLink="/form" class="link">
    <figure class="link__content">
    <img src="/assets/images/form-image.jpg" class="content__image">
    <figcaption class="content__info">
      FORM
    </figcaption>
    </figure>
  </a>

  <a routerLink="/gallery" class="link">
    <figure class="link__content">
    <img src="/assets/images/gallery-image.jpg" class="content__image">
    <figcaption class="content__info">
      GALLERY
    </figcaption>
    </figure>
  </a>

  <a routerLink="/list" class="link">
    <figure class="link__content">
      <img src="/assets/images/list-image.jpg" class="content__image">
      <figcaption class="content__info">
        LIST
      </figcaption>
    </figure>
  </a>
  <a routerLink="/map" class="link">
    <figure class="link__content">
      <img src="/assets/images/map-image.svg" class="content__image">
      <figcaption class="content__info">
        MAP
      </figcaption>
    </figure>
  </a>
</div>
