<div class="navigation">
  <a routerLink="/chart" class="link">
    <figure class="link__content">
      <img src="/assets/images/chart-image.jpg" class="content__image">
      <figcaption class="content__info">
        CHART
      </figcaption>
    </figure>
  </a>

  <a routerLink="/form" class="link">
    <figure class="link__content">
    <img src="/assets/images/form-image.jpg" class="content__image">
    <figcaption class="content__info">
      FORM
    </figcaption>
    </figure>
  </a>

  <a routerLink="/gallery" class="link">
    <figure class="link__content">
    <img src="/assets/images/gallery-image.jpg" class="content__image">
    <figcaption class="content__info">
      GALLERY
    </figcaption>
    </figure>
  </a>

  <a routerLink="/list" class="link">
    <figure class="link__content">
      <img src="/assets/images/list-image.jpg" class="content__image">
      <figcaption class="content__info">
        LIST
      </figcaption>
    </figure>
  </a>
</div>
