#divChart {
  display: block;
  width: 800px;
  height: 600px;
}

.container {
  display: block;
  width: 800px;
  height: 450px;
  border: 1px;
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;
}

.popup {
  height: 50px;
  width: 100px;
  background-color: rgb(202, 188, 188);
  text-align: center;
  border: 2px;
  padding: 20px;
  position: absolute;
  justify-content: center;
  border-radius: 4px;
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
}
