<app-nav></app-nav>

<p>Chart component</p>

<input type="number" #inputValue />
<button (click)="addValue(inputValue.value)" (click)="inputValue.value = ''">
  add
</button>

<br />

<button *ngIf="condition" (click)="lineTypeClick()">line</button>
<button *ngIf="condition" (click)="radarTypeClick()">radar</button>
<button *ngIf="condition" (click)="barTypeClick()">bar</button>
<button *ngIf="condition" (click)="pieTypeClick()">pie</button>

<br />

<div class="container" *ngIf="condition">
  <div id="divChart">
    <canvas mdbChart id="myChart">></canvas>
  </div>
</div>

<p #graphDescription>description</p>

<br />

<button *ngIf="condition" (click)="popupCall()">clear</button>

<div class="bg-modal">
  <div class="popup" *ngIf="conditionPopup">
    <p>clear the array?</p>
    <div>
      <button (click)="clearLocalDatas()">yes</button>
      <button (click)="closePopup()">nooo</button>
    </div>
  </div>
</div>
